.flex-10 {
    flex: 0 0 calc(10% - 1em);
}

.flex-17 {
    flex: 0 0 calc(18% - 1em);
}

.flex-33 {
    flex: 0 0 calc(33% - 1em);
}

.flex-50 {
    flex: 0 0 calc(50% - 1em);
}

.flex-100 {
    flex: 0 0 calc(100% - 1em);
}
