@font-face {
    font-family: "Eurostile";
    src: url('/fonts/vendor/eurostile/Eurostile Extended-Regular.otf');
}

@font-face {
    font-family: "Eurostile";
    font-style: italic;
    src: url('/fonts/vendor/eurostile/Eurostile Extended-Regular Italic.otf');
}

@font-face {
    font-family: "Eurostile";
    font-weight:bold;
    src: url('/fonts/vendor/eurostile/Eurostile Extended-Black.otf');
}

@font-face {
    font-family: "Eurostile";
    font-weight:bold;
    font-style: italic;
    src: url('/fonts/vendor/eurostile/Eurostile Extended-Black Italic.otf');
}

@font-face {
    font-family: "Eurostile";
    font-weight:500;
    src: url('/fonts/vendor/eurostile/Eurostile Extended-Medium.otf');
}

@font-face {
    font-family: "Eurostile";
    font-weight:500;
    font-style: italic;
    src: url('/fonts/vendor/eurostile/Eurostile Extended-Medium Italic.otf');
}

