@font-face {
    font-family: "Eurostile";
    src: url('/fonts/vendor/eurostile/Eurostile-Regular.otf');
}

@font-face {
    font-family: "Eurostile";
    font-style: italic;
    src: url('/fonts/vendor/eurostile/Eurostile-Regular Oblique.otf');
}

@font-face {
    font-family: "Eurostile";
    font-weight: bold;
    src: url('/fonts/vendor/eurostile/Eurostile-Black.otf');
}

@font-face {
    font-family: "Eurostile";
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/vendor/eurostile/Eurostile-Black Italic.otf');
}

@font-face {
    font-family: "Eurostile";
    font-weight: 500;
    src: url('/fonts/vendor/eurostile/Eurostile-Medium.otf');
}

@font-face {
    font-family: "Eurostile";
    font-weight: 500;
    font-style: italic;
    src: url('/fonts/vendor/eurostile/Eurostile-Medium Italic.otf');
}

@font-face {
    font-family: "Eurostile Condensed";
    src: url('/fonts/vendor/eurostile/Eurostile Condensed-Regular.otf');
}

@font-face {
    font-family: "Eurostile Condensed";
    font-style: italic;
    src: url('/fonts/vendor/eurostile/Eurostile Condensed-Regular Italic.otf');
}


@font-face {
    font-family: "Eurostile Condensed";
    font-weight: bold;
    src: url('/fonts/vendor/eurostile/Eurostile Condensed-Heavy.otf');
}

@font-face {
    font-family: "Eurostile Condensed";
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/vendor/eurostile/Eurostile Condensed-Heavy Italic.otf');
}

@font-face {
    font-family: "Eurostile Oblique";
    src: url('/fonts/vendor/eurostile/Eurostile-Bold Oblique.otf');
}

