footer {
    position: relative;
    //margin-top: -20vh;
    z-index: 1250;

    .footer-top-content {
        height: 20vh;
        background-color: $black;
        position: relative;
        z-index: 1250;
        padding-top: 40px;

        //svg {
        //    height: 200px;
        //    width: 200px;
        //    color: $white;
        //    fill: $white;
        //    z-index: 1240;
        //}

        .footer-arrow {
            text-align: center;

            h2 {
                z-index: 1031;
                line-height: 1;
                margin-bottom: 0;
                text-transform: uppercase;
                font-weight: normal;
                font-style: italic;
                text-align: center;
            }

            svg {
                z-index: 1030;

            }
        }

        .arrow-one {
            position: relative;

            svg {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                fill: #414042;
            }
        }

        .arrow-two {
            position: relative;

            svg {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                fill: #414042;
            }
        }

        .arrow-three {
            position: relative;

            svg {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;

                path {
                    fill: #414042;
                }
            }
        }


        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            border-right: 0 solid transparent;
            border-left: 100vw solid transparent;
            border-bottom: $one-dot-three-deg-height solid $black;
            transform: translate(0, -100%);
            z-index: 1250;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            bottom: 0;
            border-left: 0 solid transparent;
            border-right: 100vw solid transparent;
            border-top: $two-dot-eight-deg-height solid $black;
            transform: translate(0, 100%);
            z-index: 1029;
        }
    }

    .footer-group {
        .list-group-item {
            border-color: transparent;
        }

        a {
            color: $black;
            font-style: italic;
            font-weight: normal;
        }

        a:hover {
            font-weight: bold;
            font-style: italic;
        }
    }

    .footer-middle-content {
        background-color: $white;
        position: relative;
        margin-top: $two-dot-eight-deg-height;
        padding-bottom: $svg-height;
        color: $black;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            border-right: 0 solid transparent;
            border-left: 100vw solid transparent;
            border-bottom: $two-dot-eight-deg-height solid $white;
            transform: translate(0, -100%);
            z-index: 1250;
        }

        #subscribeFrom {
            #emailInput {
                height: 80px;
                width: 20vw;
                border-radius: 0;
                color: $black;
                font-weight: 500;
                font-style: italic;
                margin-left: 3vw;

                &:focus {
                    border-color: $black;
                    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
                }
            }

            button {
                height: 60px;
                background-color: transparent;
                border: none;
                padding: 0;
                opacity: 0.6;
                margin-left: 1.5vw;

                &:hover {
                    opacity: 1;
                }

                svg {
                    height: auto;
                    width: 60px;
                    transform: rotate(-90deg);
                }
            }
        }
    }

    .footer-bottom-content {
        padding: 2vh 4vw 0;
        position: relative;

        .footer-bottom-content-svg {

            svg {
                path {
                    fill: $secondary;
                }
            }
        }

        &, & a:not(:hover), & p {
            color: $text-base-color;
            font-size: 18px;
        }
    }

    .footer-bottom-list {
        .list-group-item {
            background-color: transparent;
            border: none;
            padding: 0 5px;
        }
    }
}
