footer {
    position: relative;
    margin-top: -20vh;

    .footer-top-content {
        height: 40vh;
        background-color: $black;
        position: relative;
        z-index: 1020;
        padding-top: 20vh;

        svg {
            height: 200px;
            width: 200px;
            color: $white;
            fill: $white;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            bottom: 0;
            border-left: 0 solid transparent;
            border-right: 100vw solid transparent;
            border-top: $two-dot-eight-deg-height solid $black;
            transform: translate(0, 100%);
        }
    }

    .footer-middle-content {
        height: 20vh;
        background-color: $white;
        position: relative;
    }

    .footer-bottom-content {
        padding: 2vh 4vw 0;
        position: relative;

        .footer-bottom-content-svg {

            svg {
                path {
                    fill: $secondary;
                }
            }
        }

        &, & a:not(:hover), & p {
            color: $text-base-color;
            font-size: 18px;
        }
    }

    .footer-bottom-list {
        .list-group-item {
            background-color: transparent;
            border: none;
            padding: 0 5px;
        }
    }
}
