footer {
    position: relative;
    //margin-top: -20vh;
    z-index: 1250;

    .footer-top-content {
        height: 20vh;
        background-color: $black;
        position: relative;
        z-index: 1250;
        padding-top: 40px;

        svg {
            height: 200px;
            width: 200px;
            color: $white;
            fill: $white;
            z-index: 1240;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            border-right: 0 solid transparent;
            border-left: 100vw solid transparent;
            border-bottom: $one-dot-three-deg-height solid $black;
            transform: translate(0, -100%);
            z-index: 1250;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            bottom: 0;
            border-left: 0 solid transparent;
            border-right: 100vw solid transparent;
            border-top: $two-dot-eight-deg-height solid $black;
            transform: translate(0, 100%);
        }
    }

    .footer-group {
        .list-group-item {
            border-color: transparent;
        }

        a {
            color: $black;
            font-style: italic;
            transition: all 0.2s linear;
        }

        a:hover {
            font-weight: bold;
        }
    }

    .footer-middle-content {
        background-color: $white;
        position: relative;
        padding-top: 10vh;
        padding-bottom: $svg-height;
        color: $black;

        #subscribeFrom {
            #emailInput {
                height: 85px;
                width: 20vw;
                border-radius: 0;
                color: $black;
                font-weight: 500;
                font-style: italic;

                &:focus{
                    border-color: $black;
                    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
                }
            }

            button {
                height: 65px;
                background-color: transparent;
                border: none;
                padding: 0;
                opacity: 0.6;
                margin-left: 1.5vw;

                &:hover {
                    opacity: 1;
                }

                svg {
                    height: auto;
                    width: 65px;
                    transform: rotate(-90deg);
                }
            }
        }
    }

    .footer-bottom-content {
        padding: 2vh 4vw 0;
        position: relative;

        .footer-bottom-content-svg {

            svg {
                path {
                    fill: $secondary;
                }
            }
        }

        &, & a:not(:hover), & p {
            color: $text-base-color;
            font-size: 18px;
        }
    }

    .footer-bottom-list {
        .list-group-item {
            background-color: transparent;
            border: none;
            padding: 0 5px;
        }
    }
}
