.slider-for {
    margin-bottom: calc(50vw * -0.0734);
}

#team {
    background-color: $primary;
    z-index: 1030;

    .slider-nav, .slider-for, .slider-nav:before, .slider-nav:after {
        z-index: 1030;
        background-color: $black !important;
    }

    .slick-prev, .slick-next {
        background: $black;

        svg {
            fill: $white;
        }
    }

}

.slider-nav {
    transform: rotate(-4.2deg);
    background-color: $primary;
    position: relative;

    .slick-list {
        padding: 20px 4vw !important;
    }

    .slick-slide {
        //margin: 10px;
        overflow: hidden;
        transform: skewX(-4.2deg);
        position: relative;
        padding: 0 10px;

        img {
            visibility: hidden;
            transition: visibility 1s ease-in-out;
        }

        &.slick-active {
            img {
                visibility: visible;
            }
        }
    }

    &:before {
        content: '';
        display: block;
        width: 4vw;
        height: 100%;
        background-color: $primary;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 2.5vw;
        transform: translate(-100%, 0);
        z-index: 1010;
    }

    &:after {
        content: '';
        display: block;
        width: 4vw;
        height: 100%;
        background-color: $primary;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 2.5vw;
        transform: translate(100%, 0);
        z-index: 1010;
    }
}


.team-sponsor-title, .rider-sponsor-title {
    min-height: calc(#{$two-dot-eight-deg-height} * 2);

    h2 {

        text-transform: uppercase;
        font-style: italic;
        font-weight: 500;
        padding-left: 2.5vw;
        font-size: 3.5rem;
    }
}

.team-sponsor-title {
    background-color: $black;
    position: relative;
    height: 100%;
    padding-top: 4vh;

    svg {
        fill: $white;
        position: absolute;
        top: 17%;
        left: 40%;
        transform: translate(-40%, 0);
        height: 100%;
        width: auto;
        z-index: 1050;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: 1px;
        border-right: 0 solid transparent;
        border-left: 100vw solid transparent;
        border-bottom: $one-dot-three-deg-height solid $black;
        transform: translate(0, -100%);
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        bottom: 1px;
        border-left: 0 solid transparent;
        border-right: 100vw solid transparent;
        border-top: $two-dot-eight-deg-height solid $black;
        transform: translate(0, 100%);
        z-index: 1040;
    }
}

#rider {
    z-index: 1020;
}

.rider-sponsor-title {
    background-color: $primary;
    position: relative;
    z-index: 1020;
    height: 100%;
    padding-top: calc(#{$four-dot-two-deg-height} + 2vh);
    color: $black;

    svg {
        position: absolute;
        top: 0%;
        right: 10%;
        height: 100%;
        width: auto;
        z-index: 1050;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: 1px;
        border-right: 0 solid transparent;
        border-left: 100vw solid transparent;
        border-bottom: $one-dot-three-deg-height solid $primary;
        transform: translate(0, -100%);
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        bottom: 1px;
        border-left: 0 solid transparent;
        border-right: 100vw solid transparent;
        border-top: $two-dot-eight-deg-height solid $primary;
        transform: translate(0, 100%);
    }
}

.slick-prev, .slick-next {
    width: auto;
    height: 100%;
    z-index: 1041;
    background-color: $primary;


    &:hover {
        svg {
            opacity: 1;
        }
    }

    &:before {
        display: none;
    }

    svg {
        opacity: 0.7;
        fill: $black;
        height: 33%;
        width: auto;
    }
}


.slick-prev {
    padding-right: 4px;
    left: 10px;
        transform: translate(0, -50%);

    svg {
        transform: rotate(4.2deg);
    }
}

.slick-next {
    right: 10px;
        transform: translate(0, -50%);
    svg {
        transform: rotate(184.2deg);
    }
}
