#home-page {
    .cr-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 3.5vh;
        margin: 0 auto;
        overflow: hidden;
        cursor: pointer;
    }

    //.cr-container label {
    //    font-style: italic;
    //    width: 150px;
    //    height: 30px;
    //    cursor: pointer;
    //    color: #fff;
    //    line-height: 32px;
    //    font-size: 24px;
    //    float: left;
    //    position: relative;
    //    margin-top: 350px;
    //    z-index: 1000;
    //}
    //
    //.cr-container label:before {
    //    content: '';
    //    width: 34px;
    //    height: 34px;
    //    background: rgba(130, 195, 217, 0.9);
    //    position: absolute;
    //    left: 50%;
    //    margin-left: -17px;
    //    border-radius: 50%;
    //    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.3);
    //    z-index: -1;
    //}
    //
    //.cr-container label:after {
    //    width: 1px;
    //    height: 400px;
    //    content: '';
    //    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    //    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    //    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    //    background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    //    background: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    //    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    //    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    //    position: absolute;
    //    bottom: -20px;
    //    right: 0px;
    //}
    //
    //.cr-container label.cr-label-img-4:after {
    //    width: 0px;
    //}

    @for $i from 1 through 20 {
        .cr-container input.cr-selector-img-#{$i}:checked ~ label.cr-label-img-4 {
            color: #68abc2;
        }

        .cr-container input.cr-selector-img-#{$i}:checked ~ label.cr-label-img-4:before {
            background: #fff;
            box-shadow: 0px 0px 0px 4px rgba(104, 171, 194, 0.6);
        }
    }

    .cr-container input {
        display: none;
    }

    .cr-bgimg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .cr-bgimg {
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    .cr-bgimg div {
        width: 25%;
        height: 100%;
        position: relative;
        float: left;
        overflow: hidden;
        background-repeat: no-repeat;
    }

    .cr-bgimg div span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 150px;
        z-index: 2;
        text-indent: -9000px;
        background-size: 400% 100%;
        background-attachment: local;
    }

    .cr-bgimg div:nth-child(odd) span {
        left: -150px;
    }

    //.cr-container input.cr-selector-img-1:checked ~ .cr-bgimg,
    //.cr-bgimg div span:nth-child(1) {
    //    background-image: url(../images/1.jpg);
    //}
    //
    //.cr-container input.cr-selector-img-2:checked ~ .cr-bgimg,
    //.cr-bgimg div span:nth-child(2) {
    //    background-image: url(../images/2.jpg);
    //}
    //
    //.cr-container input.cr-selector-img-3:checked ~ .cr-bgimg,
    //.cr-bgimg div span:nth-child(3) {
    //    background-image: url(../images/3.jpg);
    //}
    //
    //.cr-container input.cr-selector-img-4:checked ~ .cr-bgimg,
    //.cr-bgimg div span:nth-child(4) {
    //    background-image: url(../images/4.jpg);
    //}

    .cr-bgimg div:nth-child(1n) span {
        background-position: 0px 0px;
    }

    .cr-bgimg div:nth-child(2n) span {
        background-position: -100% 0px;
    }

    .cr-bgimg div:nth-child(3n) span {
        background-position: -200% 0px;
    }

    .cr-bgimg div:nth-child(4n) span {
        background-position: -300% 0px;
    }

    $slide-out-time: 0.7s;
    $image-transition-time: 0.6s;
    $text-transition-time: 1.4s;


    .cr-container input:checked ~ .cr-bgimg div span {
        -webkit-animation: slideOutRight $slide-out-time ease-in-out;
        -moz-animation: slideOutRight $slide-out-time ease-in-out;
        -o-animation: slideOutRight $slide-out-time ease-in-out;
        -ms-animation: slideOutRight $slide-out-time ease-in-out;
        animation: slideOutRight $slide-out-time ease-in-out;
    }

    @-webkit-keyframes slideOutRight {
        0% {
            left: 0px;
        }
        100% {
            left: 50%;
        }
    }
    @-moz-keyframes slideOutRight {
        0% {
            left: 0px;
        }
        100% {
            left: 50%;
        }
    }
    @-o-keyframes slideOutRight {
        0% {
            left: 0px;
        }
        100% {
            left: 50%;
        }
    }
    @-ms-keyframes slideOutRight {
        0% {
            left: 0px;
        }
        100% {
            left: 50%;
        }
    }
    @keyframes slideOutRight {
        0% {
            left: 0px;
        }
        100% {
            left: 50%;
        }
    }

    .cr-container input:checked ~ .cr-bgimg div:nth-child(even) span {
        -webkit-animation: slideOutLeft $slide-out-time ease-in-out;
        -moz-animation: slideOutLeft $slide-out-time ease-in-out;
        -o-animation: slideOutLeft $slide-out-time ease-in-out;
        -ms-animation: slideOutLeft $slide-out-time ease-in-out;
        animation: slideOutLeft $slide-out-time ease-in-out;
    }

    @-webkit-keyframes slideOutLeft {
        0% {
            left: 0px;
        }
        100% {
            left: -50%;
        }
    }
    @-moz-keyframes slideOutLeft {
        0% {
            left: 0px;
        }
        100% {
            left: -50%;
        }
    }
    @-o-keyframes slideOutLeft {
        0% {
            left: 0px;
        }
        100% {
            left: -50%;
        }
    }
    @-ms-keyframes slideOutLeft {
        0% {
            left: 0px;
        }
        100% {
            left: -50%;
        }
    }
    @keyframes slideOutLeft {
        0% {
            left: 0px;
        }
        100% {
            left: -50%;
        }
    }
    //.cr-container input.cr-selector-img-1:checked ~ .cr-bgimg div span:nth-child(1n),
    //.cr-container input.cr-selector-img-2:checked ~ .cr-bgimg div span:nth-child(2n),
    //.cr-container input.cr-selector-img-3:checked ~ .cr-bgimg div span:nth-child(3n),
    //.cr-container input.cr-selector-img-4:checked ~ .cr-bgimg div span:nth-child(4n) {
    @for $i from 1 through 20 {
        .cr-container input.cr-selector-img-#{$i}:checked ~ .cr-bgimg div span:nth-child(#{$i}) {
            -webkit-transition: left $image-transition-time ease-in-out;
            -moz-transition: left $image-transition-time ease-in-out;
            -o-transition: left $image-transition-time ease-in-out;
            -ms-transition: left $image-transition-time ease-in-out;
            transition: left $image-transition-time ease-in-out;
            -webkit-animation: none;
            -moz-animation: none;
            -o-animation: none;
            -ms-animation: none;
            animation: none;
            left: 0px;
            z-index: 10;
        }
    }

    .cr-titles h3 {
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);


        .title, .subtitle {
            //font-size: 10px;
            font-weight: bold;
            font-style: italic;
            color: $white;
            text-shadow: 1px 1px $black;
            transition: all 1s ease-in-out;
            transition-delay: 0.6s;
        }


        .title {
            text-transform: uppercase;
            font-size: 15rem;
        }

        .subtitle {
            font-size: 5rem;
        }
    }

    .cr-titles h3 span {
        z-index: 10000;
        position: absolute;
        width: 100%;
        left: 0px;
        text-align: center;
        opacity: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .cr-titles h3 span:nth-child(1) {
        left: 0px;
        letter-spacing: 7px;
        -webkit-transition: opacity $text-transition-time ease-in-out, -webkit-transform $text-transition-time ease-in-out;
        -moz-transition: opacity $text-transition-time ease-in-out, -moz-transform $text-transition-time ease-in-out;
        -o-transition: opacity $text-transition-time ease-in-out, -o-transform $text-transition-time ease-in-out;
        -ms-transition: opacity $text-transition-time ease-in-out, -ms-transform $text-transition-time ease-in-out;
        transition: opacity $text-transition-time ease-in-out, transform $text-transition-time ease-in-out;
    }

    .cr-titles h3 span:nth-child(2) {
        margin-top: 11rem;
        letter-spacing: 0px;
        //background: rgba(104, 171, 194, 0.9);
        padding: 10px 0px;
        font-style: italic;
        opacity: 0;
        -webkit-transition: all $text-transition-time ease-in-out;
        -moz-transition: all $text-transition-time ease-in-out;
        -o-transition: all $text-transition-time ease-in-out;
        -ms-transition: all $text-transition-time ease-in-out;
        transition: all $text-transition-time ease-in-out;
    }

    .cr-container input:checked ~ .cr-titles h3 span:nth-child(1) {
        opacity: 0;
        -webkit-transform: scale(0.5) translate(0, -50%);
        -moz-transform: scale(0.5) translate(0, -50%);
        -o-transform: scale(0.5) translate(0, -50%);
        -ms-transform: scale(0.5) translate(0, -50%);
        transform: scale(0.5) translate(0, -50%);
    }

    @for $i from 1 through 20 {
        .cr-container input.cr-selector-img-#{$i}:checked ~ .cr-titles h3:nth-child(#{$i}) span:nth-child(1) {
            opacity: 1;
            -webkit-transform: scale(1) translate(0, -50%);
            -moz-transform: scale(1) translate(0, -50%);
            -o-transform: scale(1) translate(0, -50%);
            -ms-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
        }

        .cr-container input.cr-selector-img-#{$i}:checked ~ .cr-titles h3:nth-child(#{$i}) span:nth-child(2) {
            margin-top: 7rem;
            opacity: 1;
        }
    }

    /* Media Query: Let's show the inputs on mobile sized browsers because they probably don't support the label trick: */
    //@media screen and (max-width: 768px) {
    //    .cr-container input {
    //        display: inline;
    //        width: 24%;
    //        margin-top: 350px;
    //        z-index: 1000;
    //        position: relative;
    //    }
    //    .cr-container label {
    //        display: none;
    //    }
    //}
}
