// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

$primary: #aaff00;


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~jquery-ui/themes/base/all.css";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

* {
    color: white;
}

.slider-nav {
    transform: rotate(-3deg);
    background-color: $primary;

    .slick-list {
        padding: 20px 50px !important;
    }

    .slick-slide {
        margin: 10px;
        overflow: hidden;
        transform: skewX(-3deg);
        position: relative;
    }
}
