@include media-breakpoint-only(lg) {
    .about-section {

        .about-title {

            h2 {
                font-size: 35px;

                span {
                    font-size: calc(35px * 0.65);
                }
            }

            svg {
                left: 45%;
            }
        }

        .about-content {
            padding: 0 2vw;

            .about-content-text {
                padding-right: 20px;
                font-size: 18px;
                padding-top: $two-dot-eight-deg-height;
            }
        }
    }
}


@include media-breakpoint-only(xl) {
    .about-section {

        .about-title {

            h2 {
                font-size: 60px;

                span {
                    font-size: calc(60px * 0.65);
                }
            }
        }

        .about-content {

            .about-content-text {
                font-size: 22px;
            }
        }
    }
}

@include media-breakpoint-only(tk) {
    .about-section {

        .about-title {

            h2 {
                font-size: 70px;

                span {
                    font-size: calc(70px * 0.65);
                }
            }

            svg {
                left: 45%;
            }
        }
    }
}

@include media-breakpoint-only(fk) {
    .about-section {

        .about-title {

            h2 {
                font-size: 100px;

                span {
                    font-size: calc(100px * 0.65);
                }
            }

            svg {
                left: 45%;
            }
        }
    }
}

