@include media-breakpoint-between(xs, sm) {
    .download-section {

        .download-content {
            padding: 1.5vh 2vh 5vh;
        }

        .download-category-title {
            font-size: 25px;
            padding-left: 17px;
        }

        .download-title {
            h2 {
                font-size: 23px;

                span {
                    font-size: calc(23px * 0.65);
                    padding-left: 0;

                    > svg {
                        display: none;
                    }
                }
            }

            > svg {
                left: 97% !important;
                transform: translate(-100%, 0) !important;
                height: 60% !important;
                top: 5%;
            }
        }

        .download-item {
            font-size: 16px;
            margin-top: 1vh;
            margin-bottom: 3vh;
            margin-left: 17px;

            .download-item-title {
                flex: 0 0 60%;
            }

            .download-item-size, .download-item-button {
                flex: 0 0 20%;
            }

            .download-item-size {
                justify-content: flex-start !important;
            }

            .download-item-button {
                a {
                    width: 95%;
                }

                svg {
                    width: auto;
                    height: 95%;
                }
            }

            .download-item-format {
                display: none;
            }
        }
    }
}

@include media-breakpoint-only(md) {
    .download-section {

        .download-content {
            padding: 1.5vh 2vh 5vh;
        }

        .download-category-title {
            font-size: 25px;
            padding-left: 17px;
        }

        .download-title {
            h2 {
                font-size: 40px;

                span {
                    font-size: calc(40px * 0.65);
                    padding-left: 0;

                    > svg {
                        display: none;
                    }
                }
            }

            > svg {
                left: 97% !important;
                transform: translate(-100%, 0) !important;
                height: 60% !important;
                top: 5%;
            }
        }

        .download-item {
            font-size: 22px;
            margin-top: 1vh;
            margin-bottom: 3vh;
            margin-left: 17px;

            .download-item-title {
                flex: 0 0 46%;
            }

            .download-item-size, .download-item-format, .download-item-button {
                flex: 0 0 18%;
            }

            .download-item-size {
                justify-content: flex-end !important;
                padding-right: 10px;
            }

            .download-item-button {

                a {
                    width: 50%;
                    max-width: 65px;
                    right: unset;
                    left: 10px;
                }

                svg {
                    width: auto;
                    height: 80%;
                }
            }

            .download-item-format {
                //display: none;
            }
        }
    }
}

@include media-breakpoint-only(lg) {
    .download-section {
        .download-title {
            h2 {
                font-size: 35px;

                span {
                    font-size: calc(35px * 0.65);
                }
            }

            > svg {
                height: 90%;
                left: 52%;
            }
        }

        .download-category-title {
            padding-left: 20px;
        }

        .download-category-title, .download-item-title, .download-item-format, .download-item-size {
            font-size: calc(35px * 0.65);
        }
    }
}

@include media-breakpoint-only(xl) {
    .download-section {
        .download-title {
            h2 {
                font-size: 60px;

                span {
                    font-size: calc(60px * 0.65);
                }
            }

            > svg {
                left: 52%;
            }
        }


        .download-category-title, .download-item-title, .download-item-format, .download-item-size {
            font-size: calc(60px * 0.65);
        }
    }
}

@include media-breakpoint-only(tk) {
    .download-section {
        .download-title {
            h2 {
                font-size: 70px;

                span {
                    font-size: calc(70px * 0.65);
                }
            }

            > svg {
                left: 45%;
            }
        }

        .download-category-title, .download-item-title, .download-item-format, .download-item-size {
            font-size: calc(70px * 0.65);
        }
    }
}

@include media-breakpoint-only(fk) {
    .download-section {
        .download-title {
            h2 {
                font-size: 100px;

                span {
                    font-size: calc(100px * 0.65);
                    padding-left: 40px;
                }
            }

            > svg {
                left: 45%;
            }
        }

        .download-category-title {
            padding-left: 44px;
        }

        .download-category-title, .download-item-title, .download-item-format, .download-item-size {
            font-size: calc(100px * 0.65);
        }
    }
}

