@include media-breakpoint-only(lg) {
    .download-section {
        .download-title {
            h2 {
                font-size: 35px;

                span {
                    font-size: calc(35px * 0.65);
                }
            }

            > svg {
                height: 90%;
                left: 52%;
            }
        }

        .download-category-title {
            padding-left: 20px;
        }

        .download-category-title, .download-item-title, .download-item-format, .download-item-size {
            font-size: calc(35px * 0.65);
        }
    }
}

@include media-breakpoint-only(xl) {
    .download-section {
        .download-title {
            h2 {
                font-size: 60px;

                span {
                    font-size: calc(60px * 0.65);
                }
            }

            > svg {
                left: 52%;
            }
        }


        .download-category-title, .download-item-title, .download-item-format, .download-item-size {
            font-size: calc(60px * 0.65);
        }
    }
}

@include media-breakpoint-only(tk) {
    .download-section {
        .download-title {
            h2 {
                font-size: 70px;

                span {
                    font-size: calc(70px * 0.65);
                }
            }

            > svg {
                left: 45%;
            }
        }

        .download-category-title, .download-item-title, .download-item-format, .download-item-size {
            font-size: calc(70px * 0.65);
        }
    }
}

@include media-breakpoint-only(fk) {
    .download-section {
        .download-title {
            h2 {
                font-size: 100px;

                span {
                    font-size: calc(100px * 0.65);
                }
            }

            > svg {
                left: 45%;
            }
        }

        .download-category-title, .download-item-title, .download-item-format, .download-item-size {
            font-size: calc(100px * 0.65);
        }
    }
}

