@include media-breakpoint-between(xs, sm) {
    footer {
        border-top: 2px solid $black;

        .footer-top-content {
            flex-wrap: wrap;
            height: auto;

            &:before {
                border-bottom-width: 12px;
            }

            #footer-mugenrace-logo-div {
                flex: 0 0 100%;

                img {

                    right: unset;
                    bottom: unset;
                    max-height: unset;
                    max-width: 30%;
                    position: relative;
                    margin: 0 auto;
                    display: block;
                    margin-top: 25px;
                    margin-bottom: 45px;
                    z-index: 1252;
                }
            }

            .footer-arrow {
                &.arrow-one, &.arrow-two {
                    //flex: 0 0 50%;
                    margin: 0;
                    padding: 0 0 0 15px;

                    h2 {
                        font-size: 27px;
                        position: relative;
                        margin-left: 0;
                    }

                    svg {
                        top: 0;
                        transform: translate(0, -50%);
                        width: 80%;
                        max-height: unset;
                        opacity: 0.7;
                    }
                }

                &.arrow-one {
                    flex: 0 0 40%;
                }

                &.arrow-two {
                    flex: 0 0 60%;
                }

                &.arrow-three {
                    display: none !important;
                }
            }

        }

        .footer-middle-content {
            flex-wrap: wrap;

            .empty {
                display: none !important;
            }

            .xs-double-one, .xs-double-two {
                margin: 0;
                padding-left: 15px;

                .list-group {
                    margin-left: 0;
                }
            }

            .xs-double-one {
                flex: 0 0 40%;

            }

            .xs-double-two {
                flex: 0 0 30%
            }

            .footer-group {
                a {
                    font-size: 18px;
                }

                &.footer-group-download {

                }
            }

            .footer-form {
                flex: 0 0 100%;

                .list-group-item {
                    padding: 0.75rem 1.25rem;
                }

                label {
                    font-family: "Eurostile Ext";
                    font-style: italic;
                }

                #subscribeFrom {
                    flex-wrap: wrap;
                    justify-content: center;

                    #emailInput {
                        width: auto;
                        height: 40px;
                        margin-left: 0;
                        max-width: 70vw;
                    }

                    button {
                        height: 40px;

                        svg {
                            width: 40px;
                        }
                    }
                }
            }
        }

        .footer-bottom-content .d-flex {
            flex-direction: column-reverse;
            align-items: center !important;

            > p {
                align-self: flex-start;
                font-size: 12px;
            }
        }
    }
}

@include media-breakpoint-only(md) {
    footer {
        border-top: 0;

        .footer-top-content {
            flex-wrap: nowrap;
            height: auto;

            &:before {
                border-bottom-width: 12px;
            }

            #footer-mugenrace-logo-div {
                flex: 0 0 calc(25% - 4vw);

                img {

                    right: unset;
                    bottom: unset;
                    max-height: unset;
                    width: 220px;
                    max-width: 85%;
                    position: relative;
                    margin: 0 auto;
                    display: block;
                    margin-top: 25px;
                    z-index: 1252;
                }
            }

            .footer-arrow {
                &.arrow-one, &.arrow-two {
                    //flex: 0 0 50%;
                    margin: 0;
                    padding: 0 0 0 15px;

                    h2 {
                        font-size: 42px;
                        position: relative;
                        margin-left: 0;
                        bottom: unset;
                    }

                    svg {
                        top: unset;
                        bottom: -40px;
                        //transform: translate(0, -50%);
                        width: 80%;
                        max-height: calc(100% + 30px);
                        opacity: 0.7;
                    }
                }

                &.arrow-one {
                    flex: 0 0 30%;

                    > svg {
                        width: 100%;
                        left: -20px;
                    }
                }

                &.arrow-two {
                    flex: 0 0 40%;
                }

                &.arrow-three {
                    display: none !important;
                }
            }

        }

        .footer-middle-content {
            flex-wrap: wrap;

            .empty {
                flex: 0 0 calc(25% - 4vw);
            }

            .xs-double-one, .xs-double-two {
                margin: 0;
                padding-left: 15px;

                .list-group {
                    margin-left: 0;
                }
            }

            .xs-double-one {
                flex: 0 0 30%;

            }

            .xs-double-two {
                flex: 0 0 38%
            }

            .footer-group {
                a {
                    font-size: 26px;
                }

                &.footer-group-download {

                }
            }

            .footer-form {
                flex: 0 0 100%;

                .list-group-item {
                    padding: 0.75rem 1.25rem;
                }

                label {
                    padding-right: 20px;
                    font-family: "Eurostile Ext";
                    font-style: italic;
                }

                #subscribeFrom {
                    flex-wrap: wrap;
                    justify-content: center;

                    #emailInput {
                        width: auto;
                        height: 40px;
                        margin-left: 0;
                        max-width: 70vw;
                    }

                    button {
                        height: 40px;

                        svg {
                            width: 40px;
                        }
                    }
                }
            }
        }

        .footer-bottom-content .d-flex {
            //flex-direction: column-reverse;
            //align-items: center !important;
            > p {
                align-self: flex-start;
                font-size: 12px;
            }
        }
    }
}

@include media-breakpoint-only(lg) {
    footer {

        .footer-top-content .footer-arrow {
            h2 {
                font-size: 22px;
            }

            &.arrow-one h2 {
                margin-left: 33%;
            }

            &.arrow-two h2 {
                margin-left: 12%;
            }

            &.arrow-three h2 {
                margin-left: 12%;
            }
        }

        .footer-group {
            a {
                font-size: 16px;
            }

            .list-group-item {
                padding: 0.25rem 0.5rem 0.25rem 0;
            }

            &.footer-group-download {
                margin-left: 33%;
            }

            &.footer-group-follow {
                margin-left: 12%;
            }
        }

        .footer-middle-content #subscribeFrom {
            margin-top: 8px;

            #emailInput {
                height: 30px;
                margin-left: calc(12% + 0.375rem + 2px);
                font-size: 16px;

            }

            button {
                height: 30px;

                svg {
                    width: 30px;
                }
            }
        }

        .footer-bottom-content {
            &, & a:not(:hover), & p {
                font-size: 0.8rem;
            }
        }
    }
}

@include media-breakpoint-only(xl) {
    footer {

        .footer-top-content .footer-arrow {
            h2 {
                font-size: 33px;
                bottom: -17%;
            }

            &.arrow-one h2 {
                margin-left: 35%;
            }

            &.arrow-two h2 {
                margin-left: 18%;
            }

            &.arrow-three h2 {
                margin-left: 15%;
            }
        }

        .footer-group {
            a {
                font-size: 20px;
            }

            &.footer-group-download {
                margin-left: 35%;
            }

            &.footer-group-follow {
                margin-left: 18%;
            }
        }

        .footer-middle-content #subscribeFrom {
            margin-top: 5px;

            #emailInput {
                height: 35px;
                margin-left: calc(15% + 0.375rem + 2px);
                font-size: 22px;

            }

            button {
                height: 34px;

                svg {
                    width: 34px;
                }
            }
        }
    }
}


@include media-breakpoint-only(tk) {
    footer {

        .footer-top-content .footer-arrow {
            h2 {
                font-size: 45px;
                bottom: -20%;
            }
        }

        .footer-middle-content #subscribeFrom {
            margin-top: 1px;

            #emailInput {
                height: 45px;
                margin-left: calc(20% + 0.375rem + 2px);
                font-size: 25px;

            }

            button {
                height: 44px;

                svg {
                    width: 44px;
                }
            }
        }

        .footer-group a {
            font-size: 25px;
        }
    }
}

@include media-breakpoint-only(fk) {
    footer {
        .footer-bottom-content {
            .list-group-item a {
                font-size: 18px;
            }
        }
    }
}


