@include media-breakpoint-only(lg) {
    #home-page {
        .bg-image.active {

            .title {
                font-size: 100px;
            }

            .subtitle {
                font-size: 40px;
            }

        }

        .cr-titles h3 {
            .title {
                font-size: 100px;
            }

            .subtitle {
                font-size: 40px;
                margin-top: 90px !important;
            }
        }

        @for $i from 1 through 20 {
            .cr-container input.cr-selector-img-#{$i}:checked ~ .cr-titles h3:nth-child(#{$i}) span:nth-child(2) {
                margin-top: 40px !important;
                opacity: 1;
            }
        }
    }
}
