@include media-breakpoint-between(xs, sm) {
    .navbar {
        .navbar-brand {
            img {
                max-height: 35px;
            }
        }

        .nav-lang {
            font-size: 20px;
            padding: 0.8rem !important;
        }

        .navigation-btn {
            margin-top: -5px;
        }

        #navigationMenu {
            .navigation-list {
                height: 80%;
            }

            .navigation-lang {
                top: 40%;
            }
        }

        #navigationMenu {
            top: 40px;
        }

        .navigation-left {
            #navPageTitle {
                font-size: 1.3rem;
            }
        }

        .navigation-link {
            .nav-hover-overlay {
                font-size: 2.5rem;
            }

            .small {
                display: none;
            }
        }
    }
}

@media (max-width: 1860px) {
    #navigationMenu {
        top: 40px !important;
    }
}

@include media-breakpoint-only(lg) {

    .nav-lang {
        font-size: 1.1rem;
        padding-left: 0.8rem !important;
        padding-right: 0.8rem !important;
    }

    .navigation-left {
        #navPageTitle {
            font-size: 1.3rem;
        }
    }

    .navigation-link {
        .small {
            top: 0;
            letter-spacing: 6px;
            font-size: 1.1rem;
        }
    }
}
