@include media-breakpoint-between(xs, sm) {

    .team-sponsor-title, .rider-sponsor-title {
        h2 {
            font-size: 23px;
        }

        svg {
            left: 97% !important;
            transform: translate(-100%, 0) !important;
            height: 75% !important;
        }
    }


    .slider-nav {
        &:before, &:after {
            width: 7vw;
        }
    }
}


@include media-breakpoint-only(lg) {
    .team-sponsor-title {
        svg {
            left: 45%;
        }
    }
    .team-sponsor-title, .rider-sponsor-title {
        h2 {
            font-size: 3rem;
        }
    }

    .slick-next, .slick-prev {
        svg {
            height: 25%;
        }
    }

    .slick-next {
        right: 8px;
    }

    .slick-prev {
        left: 6px;
    }
}

