@include media-breakpoint-only(lg) {
    .team-sponsor-title {
        svg {
            left: 45%;
        }
    }
    .team-sponsor-title, .rider-sponsor-title {
        h2 {
            font-size: 3rem;
        }
    }

    .slick-next, .slick-prev {
        height: 25%;
    }

    .slick-next {
        right: 8px;
    }

    .slick-prev {
        left: 8px;
    }
}

